// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,500;1,600&display=swap");

// lobby styles
@import url("../pages/Lobby/styles.scss");

$base-blue: #085696;
$base-blue-hover: darken($base-blue, 10%);

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

a {
    font-size: 1.25rem;
    color: $base-blue;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 2px solid $base-blue;

    &:hover {
        color: $base-blue-hover;
        border-color: $base-blue-hover
    }
}

.App {
    background: url("../images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: $base-blue;
}

.page {
    width: 600px;
    max-width: 100%;
    max-height: 100%;
    padding: 2rem;
    background: #fff;

    &-body {
        text-align: center;
    }

    &-control {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }
}
